.wrapper {
  width: 960px;
  margin: 0px auto;

  hr {
    margin: 5px 0 50px;
  }
}

.text-center {
  text-align: center;
}

.masthead {

  h4 {
    text-align: center;
  }
}

.jumbotron {
  width: 750px;
  margin: 40px auto 55px;

  text-align: center;

  h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 20px;
  }
}

.directions {

  textarea {
    width: 200px;
    height: 45px;
    text-align: left;
    font-size: 10px;
  }
}













