.wrapper {
  width: 750px;
  margin: 0px auto;

  hr {
    margin: 5px 0 50px;
  }
}

.masthead {

  h4 {
    text-align: center;
  }
}

.jumbotron {
  margin-top: 50px;

  text-align: center;

  h1 {
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 10px;
  }

  h4 {
    margin-bottom: 20px;
  }
}